/* GLOBAL */

html {
    font-size: 16px;
    box-sizing: border-box;
    height: -webkit-fill-available;
}
* {
    box-sizing: inherit;
    scroll-behavior: smooth;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    margin: 0;
    padding: 0;
}

/* HEADER */

header {
    display: flex;
    height: 144px;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
nav {
    position: relative;
}
nav li {
    display: inline;
    list-style: none;
}
nav li a {
    font-size: 1.5rem;
    text-decoration: none;
    color: rgb(60, 91, 74);
    cursor: pointer;
}

/* FOOTER */

footer {
    width: 100%;
    margin-top: auto;
    position: relative;
    background-color: inherit;
    padding: 40px 30px 10px;
}
